<nb-card>
    <nb-card-body>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtYDyV8_AKgQuQ2BghoMGOKUGbBs_PYx0uwz17t9Gp09USmTx5" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Profile</h5>
              <p class="card-text">all details</p>
              <a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </nb-card-body>
</nb-card>
