<div class="container m-10 mb-5">
    <div id="container1"></div>
    <button (click)="liveData()" class="btn btn-danger mt-2">Live Data</button>
</div>


<div class="container mt-10 mb-5">
    <div id="container2"></div>
    <button (click)="liveAtmTemp()" class="btn btn-danger mt-2 mb-3">Show New Data</button>
</div>

<div id="container mt-10 mb-5">
    <div id="container3"></div>
</div>

<div id="container m-10 mb-5">
    <div id="container4"></div>
    <button (click)="addNewUserOption4()" class="btn btn-danger mt-2 mb-3">Insert New Data</button>
</div>

<div id="container m-10 mb-5">
    <div id="container5"></div>
     <button (click)="showMillionDots()" class="btn btn-danger mt-2 mb-3">Get new Pie Data</button>
</div>


